h1{
    border: 3px solid mintcream;
    background-color: slateblue;
    text-align: center;
}
.avanzado{
    border: 10px solid;
    float: left;
}

.avanzado > div {
    float: left;
    width: 500px;
    border: 5px solid black;
}

.imagen img {
    float: left;
    width: 200px;
    border: 5px solid white;
}

section > div > .avanzado > ul > li > h3 {
    font-family: 'Halant', serif;
    border-radius: 2px solid white;
}

.lista{
    font-family: 'Spirax', cursive;
    color:black;
}




